.sec1{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://muhammedniyad.github.io/Netflix/images/Netflix-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.inputBox{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7)), transparent;
}
   
